USE [master]
GO
/****** Object:  Database [CateringDb]    Script Date: 7/14/2021 1:20:59 PM ******/
CREATE DATABASE [CateringDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CateringDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.LOCAL\MSSQL\DATA\CateringDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CateringDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.LOCAL\MSSQL\DATA\CateringDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CateringDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CateringDb]
GO
/****** Object:  Table [dbo].[District]    Script Date: 7/14/2021 1:20:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[District](
	[Id] [int] NOT NULL,
	[DivisionId] [int] NOT NULL,
	[District] [varchar](30) NOT NULL,
	[lat] [nvarchar](50) NULL,
	[lon] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FoodInfo]    Script Date: 7/14/2021 1:20:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoodInfo](
	[FoodId] [int] IDENTITY(1,1) NOT NULL,
	[FoodName] [nvarchar](50) NOT NULL,
	[Quantity] [nvarchar](50) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Picture] [nvarchar](max) NULL,
	[InTime] [nvarchar](50) NULL,
	[CateId] [int] NULL,
	[Status] [nvarchar](50) NULL,
 CONSTRAINT [PK_FoodInfo] PRIMARY KEY CLUSTERED 
(
	[FoodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Register]    Script Date: 7/14/2021 1:20:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Register](
	[RegId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[MobileNo] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NULL,
	[Gender] [nvarchar](50) NULL,
	[Dob] [nvarchar](50) NULL,
	[District] [int] NULL,
	[Thana] [int] NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Picture] [nvarchar](max) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[BkashNo] [nvarchar](50) NULL,
	[TransNo] [nvarchar](50) NULL,
	[Amount] [decimal](18, 2) NULL,
	[Intime] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Register] PRIMARY KEY CLUSTERED 
(
	[RegId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Thana]    Script Date: 7/14/2021 1:20:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thana](
	[Id] [int] NOT NULL,
	[DistrictId] [int] NOT NULL,
	[Thana] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[District] ([Id], [DivisionId], [District], [lat], [lon]) VALUES (1, 3, N'Dhaka', N'23.7115253', N'90.4111451')
INSERT [dbo].[District] ([Id], [DivisionId], [District], [lat], [lon]) VALUES (2, 3, N'Faridpur', N'23.6070822', N'89.8429406')
INSERT [dbo].[District] ([Id], [DivisionId], [District], [lat], [lon]) VALUES (3, 3, N'Gazipur', N'24.0022858', N'90.4264283')
GO
SET IDENTITY_INSERT [dbo].[FoodInfo] ON 

INSERT [dbo].[FoodInfo] ([FoodId], [FoodName], [Quantity], [Price], [Type], [Picture], [InTime], [CateId], [Status]) VALUES (3, N'Fried Rice', N'1:2', CAST(190.00 AS Decimal(18, 2)), N'Rice', N'/photos/fried rice.jpg967502.png', N'10/07/2021_10:14:04', 7, N'A')
SET IDENTITY_INSERT [dbo].[FoodInfo] OFF
GO
SET IDENTITY_INSERT [dbo].[Register] ON 

INSERT [dbo].[Register] ([RegId], [Name], [Email], [MobileNo], [Type], [Gender], [Dob], [District], [Thana], [Password], [Picture], [Status], [BkashNo], [TransNo], [Amount], [Intime]) VALUES (6, N'Trisha', N'trisha@gmail.com', N'01900112233', N'Cust', N'Female', N'2021-07-06', 0, 0, N'123', N'/photos/2248572cloudy.png.png', N'A', N'', N'', CAST(0.00 AS Decimal(18, 2)), N'06/07/2021_09:43:36')
INSERT [dbo].[Register] ([RegId], [Name], [Email], [MobileNo], [Type], [Gender], [Dob], [District], [Thana], [Password], [Picture], [Status], [BkashNo], [TransNo], [Amount], [Intime]) VALUES (7, N'Delicious Catering', N'caterer@gmail.com', N'01821981232', N'Cate', N'', N'', 43, 560, N'123', N'/photos/9247931logo.png.png', N'A', N'685506', N'sfrwdzsew34w', CAST(200.00 AS Decimal(18, 2)), N'06/07/2021_09:44:55')
INSERT [dbo].[Register] ([RegId], [Name], [Email], [MobileNo], [Type], [Gender], [Dob], [District], [Thana], [Password], [Picture], [Status], [BkashNo], [TransNo], [Amount], [Intime]) VALUES (8, N'Admin', N'admin@gmail.com', N'01800112233', N'Admin', N'Male', N'1996-08-02', 0, 0, N'1', N'/photos/2248572cloudy.png.png', N'A', N'', N'', CAST(0.00 AS Decimal(18, 2)), N'06/07/2021_09:44:55')
SET IDENTITY_INSERT [dbo].[Register] OFF
GO
INSERT [dbo].[Thana] ([Id], [DistrictId], [Thana]) VALUES (1, 34, N'Amtali')
INSERT [dbo].[Thana] ([Id], [DistrictId], [Thana]) VALUES (2, 34, N'Bamna ')
INSERT [dbo].[Thana] ([Id], [DistrictId], [Thana]) VALUES (3, 34, N'Barguna Sadar ')
GO
USE [master]
GO
